@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="../../Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <div class="Container">
            @RenderBody()
        </div>
    </center>
</body>
</html>
